/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.mwb-m4wp-admin-wrap .row-hide{
    display: none;
}

.span-connected {
    padding: 10px 15px;
    background: rgb(28, 187, 41);
    color: #fff;
    border-radius: 20px;
}

.span-disconnected {
    padding: 10px 15px;
    background: rgb(230, 46, 46);
    color: #fff;
    border-radius: 20px;
}

#mwb-m4wp-form-html {
	background: #fff;
}

.mwb-m4wp-admin-widget-row {
	position: relative;
	margin-bottom: 10px;
	background: #fff;
}

.mwb-m4wp-admin-widget-wrap{
	padding: 30px;
}

.mwb-m4wp-admin-widget-head {
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	background: rgba(78,93,157,0.8);
	color: #fff;
}
.mwb-m4wp-admin-widget-row.column-2 {
	display: flex;
}
.mwb-m4wp-admin-widget-column{
    width: 50%;;
}

.widget-table td, .widget-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.widget-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.mwb-m4wp-admin-widget-column .mwb-m4wp-admin-widget-wrap{
    padding: 0px;
}

.widget-table a{
    text-decoration: none;
}