/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.mwb-m4wp-admin-wrap .row-hide{
    display: none;
}

.span-connected {
    padding: 10px 15px;
    background: rgb(28, 187, 41);
    color: #fff;
    border-radius: 20px;
}

.span-disconnected {
    padding: 10px 15px;
    background: rgb(230, 46, 46);
    color: #fff;
    border-radius: 20px;
}

#mwb-m4wp-form-html {
	background: #fff;
}

.mwb-m4wp-admin-widget-row {
	position: relative;
	margin-bottom: 10px;
	background: #fff;
}

.mwb-m4wp-admin-widget-wrap{
	padding: 30px;
}

.mwb-m4wp-admin-widget-head {
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	background: rgba(78,93,157,0.8);
	color: #fff;
}
.mwb-m4wp-admin-widget-row.column-2 {
	display: flex;
}
.mwb-m4wp-admin-widget-column{
    width: 50%;;
}

.widget-table td, .widget-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.widget-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.mwb-m4wp-admin-widget-column .mwb-m4wp-admin-widget-wrap{
    padding: 0px;
}

.widget-table a{
    text-decoration: none;
}

.mwb-m4wp-admin-panel-date {
    margin-bottom: 20px;
}

.mwb-m4wp-admin-panel-date span{
    margin-right: 10px;
}

.mwb-m4wp-admin-panel-date label{
    font-size: 16px;
    margin-right: 10px;
}
.mwb-m4wp-admin-table {
    width: 100%;
}
.mwb-m4wp-admin-table th {
    padding: 20px 10px 20px 10px;
    background: rgba(78,93,157,0.8);
    color: #fff;
    font-size: 16px;
}
.mwb-m4wp-admin-table td {
    font-size: 16px;
}
tr:nth-child(even){background-color: rgba(78, 93, 157, 0.19);}

.mwb-m4wp-admin-table td.des , .mwb-m4wp-admin-table th.des{
    width: 50%;
}
.mwb-m4wp-admin-table td.name , .mwb-m4wp-admin-table th.name{
    width: 20%;
}
.mwb-m4wp-admin-table td.setting , .mwb-m4wp-admin-table th.setting{
    width: 15%;
    text-align: center;
}
.mwb-m4wp-admin-table td.status , .mwb-m4wp-admin-table th.status{
    width: 15%;
    text-align: center;
}

.mwb-m4wp-admin-table td.setting a {
    text-decoration: none;
}

.mwb-m4wp-admin-table  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.mwb-m4wp-admin-table .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mwb-m4wp-admin-table .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.mwb-m4wp-admin-table .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.mwb-m4wp-admin-table input:checked + .slider {
    background-color: #2FAC02;
}

.mwb-m4wp-admin-table input:focus + .slider {
    box-shadow: 0 0 1px #2FAC02;
}

.mwb-m4wp-admin-table  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.mwb-m4wp-admin-table  .slider.round {
    border-radius: 34px;
}

.mwb-m4wp-admin-table  .slider.round:before {
    border-radius: 50%;
} 

.mwb-m4wp-admin-table .dashicons, .mwb-m4wp-admin-table .dashicons-before::before {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.mwb-m4wp-admin-form-wrap-title {
	padding: 15px 10px;
	font-size: 18px;
	font-weight: 600;
    background: rgba(78,93,157,0.8);
	color: #fff;
}

.button.mwb-m4wp-admin-button {
	min-width: 150px;
	font-size: 16px;
	height: 50px;
}
.mwb-m4wp-admin-button-wrap{
    text-align: center;
    margin-top: 10px;
}

.row-implicit.row-hide {
	display: none;
}

.form-table .row-inactive {
	opacity: 0.5;
}